{% extends 'base.html' %} {% block body %}
<div class="container">
  <h3 class="mt-5 mb-5">About</h3>
  <h6 class="my-4">
    Ever wanted to organize all your tasks and plans? Planorama is the perfect
    choice for you. Now Manage all your tasks with Planorama's elegant User
    Interface and an easy to use User Experience.
  </h6>
  <h6 class="my-4">
    Add tasks, schedule future tasks and modify pre made tasks and also mark the
    tasks as complete.
  </h6>
  <h6 class="my-4">
    The user can also enjoy a purely serene login experience which would
    seperate his tasks from other users and the easy to use interface makes it
    all the more effortless.
  </h6>
  <h6 class="my-4">
    Now see all your progress at a glance with the help of statistics provided.
    The graph generated helps the user to get to know his workload just at the
    work of a glance.
  </h6>
</div>
{% endblock body %}
